# ====================
# PCB 工具临时文件
# ====================
*.lck
*.bak
*-bak.*
*.tmp
*~
.~lock.*

# ====================
# KiCad(若用)
# ====================
*-cache.lib
*.kicad_pcb-bak
fp-info-cache
*.kicad_prl
*.kicad_sym
*.pretty

# ====================
# 立创 EDA / Lceda(若用)
# ====================
*.lceda.bak
*.eco
*.eeschema.bak

# ====================
# Python(若用脚本生成网表 / DRC)
# ====================
__pycache__/
*.pyc
*.pyo
*.pyd

# ====================
# 个人 / 系统
# ====================
.DS_Store
Thumbs.db
*.swp
*.swo

# ====================
# 编辑器 / IDE
# ====================
.vscode/
.idea/
